<img ng-show="loading" src="/cms/img/ajax-loader.gif" alt="Please wait...">
<form name="contactForm" ng-submit="updateContact()" novalidate>
    <div class="form-group">
        <label>First Name:</label>
        <input id='firstName' name='firstName' ng-model="contact.firstName" required ng-minlength="3" ng-maxlength="20">
        <span ng-show="contactForm.firstName.$invalid && !contactForm.firstName.$pristine" 
              class="help-inline">First name is required. It must be 3 to 20 characters.</span>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id='lastName' name='lastName' ng-model="contact.lastName" required ng-minlength="3" ng-maxlength="20">
        <span ng-show="contactForm.lastName.$invalid && !contactForm.lastName.$pristine" 
              class="help-inline">Last name is required. It must be 3 to 20 characters.</span>
    </div>
    <div class="form-group">
        <label for='street' >Street:</label>
        <input id='street' name='street' ng-model="contact.address.street" required ng-minlength="6" ng-maxlength="50" />
        <span ng-show="contactForm.street.$invalid && !contactForm.street.$pristine" 
              class="help-inline">Street is required. It must be 6 to 50 characters.</span>
    </div>
    <div class="form-group">
        <label for='country'>Country:</label>
        <select id='country' name='country' ng-model="contact.address.country" required
                ng-change="fillCityDropdown(contact.address.country.code)"
                ng-options="country.code as country.name for country in countries">
            <option value=""></option>
        </select>
        <span ng-show="contactForm.country.$invalid && !contactForm.country.$pristine" 
              class="help-inline">Country is required.</span>
    </div>
    <div class="form-group">
        <label for='city'>City:</label>
        <select id="city" name="city" ng-model="contact.address.city" required>
            <option ng-repeat="city in cities" value="{{city}}"> {{city}} </option>
        </select>
        <span ng-show="contactForm.city.$invalid && !contactForm.city.$pristine" 
              class="help-inline">City is required.</span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Update</button>
    <button ng-click="goBack()" class="btn btn-primary">Cancel</button>
</form>



